In [31]:
from get_log_data import read_logs, get_labelized_logdata
import pandas as pd
from sklearn.preprocessing import StandardScaler
COLUMNS = ["DEPTH","DT","GR","LLD","LLS","PHIE","PHIT","RHOB","SW","TNPH","VWCL"]
FEATURES = ["DEPTH","DT","GR","LLD","LLS","RHOB","TNPH"]
LABELS = ["phit","phie","sw"]
LABEL = "phit"
COLUMNS=[c.lower() for c in COLUMNS]
FEATURES=[c.lower() for c in FEATURES]
training_set,prediction_set=read_logs()

get_labelized_logdata(9)

(array([[-0.99768573,  1.2688609 , -0.6293161 , ..., -0.02743011,
         -1.0924715 , -0.4947934 ],
        [-0.99708587,  0.6900069 , -0.22783814, ..., -0.00897573,
         -0.93708444, -0.95996606],
        [-0.99648607,  0.24695882,  0.01763118, ..., -0.00306188,
         -0.7507544 , -1.2232491 ],
        ...,
        [ 2.271976  , -1.080319  , -0.01070972, ..., -0.14546952,
          0.2078023 ,  1.1392142 ],
        [ 2.2723696 , -1.0539738 ,  0.14975137, ..., -0.1190684 ,
          0.14053515,  1.5288258 ],
        [ 2.2727633 , -0.98644596,  0.09481875, ..., -0.0979475 ,
          0.14053515,  1.2749879 ]], dtype=float32),
 array([8, 8, 8, ..., 2, 3, 3], dtype=int64),
 array([[-0.8783269 ,  2.5958104 ,  1.4222078 , ..., -1.242436  ,
         -0.6700339 , -0.23093186],
        [-0.87793326,  2.4295702 ,  1.4689872 , ..., -1.2226351 ,
         -0.60747546, -0.38501737],
        [-0.8775397 ,  2.2633297 ,  1.6349127 , ..., -1.2028344 ,
         -0.52675486, -0.44611555],
        ...,
        [-0.1368013 , -0.45569617,  0.25321263, ..., -0.21147232,
          0.8185879 , -0.9957867 ],
        [-0.1364077 ,  0.37686545,  0.19747047, ..., -0.32367706,
          0.79638976, -0.878856  ],
        [-0.13601412,  0.9137584 ,  0.26970688, ..., -0.42426535,
          0.7479574 , -0.6964233 ]], dtype=float32),
 array([4, 4, 4, ..., 2, 2, 1], dtype=int64))

In [29]:
# y_['y']

(array([8, 8, 8, ..., 2, 3, 3], dtype=int64),
 array([4, 4, 4, ..., 2, 2, 1], dtype=int64))

In [5]:
import pandas as pd
import numpy as np

np.random.seed(10)
df = pd.DataFrame({
    'normal': np.random.normal(10, 3, 1000),
    'chi': np.random.chisquare(4, 1000)
})
df.head()

      normal       chi
0  13.994760  8.965983
1  12.145837  2.979170
2   5.363799  7.419285
3   9.974848  5.427561
4  11.864008  4.008033

In [9]:
pd.cut(df['chi'], 8).head()

0    (8.645, 10.784]
1     (2.229, 4.368]
2     (6.507, 8.645]
3     (4.368, 6.507]
4     (2.229, 4.368]
Name: chi, dtype: category
Categories (8, interval[float64]): [(0.0738, 2.229] < (2.229, 4.368] < (4.368, 6.507] < (6.507, 8.645] < (8.645, 10.784] < (10.784, 12.922] < (12.922, 15.061] < (15.061, 17.199]]

In [10]:
custom_bucket_array = np.linspace(0, 20, 9)
custom_bucket_array
df['normal'] = pd.cut(df['normal'], custom_bucket_array)
df['chi'] = pd.cut(df['chi'], custom_bucket_array)
df.head()

         normal          chi
0  (12.5, 15.0]  (7.5, 10.0]
1  (10.0, 12.5]   (2.5, 5.0]
2    (5.0, 7.5]   (5.0, 7.5]
3   (7.5, 10.0]   (5.0, 7.5]
4  (10.0, 12.5]   (2.5, 5.0]

In [13]:
df = pd.DataFrame({
    'normal': np.random.normal(10, 3, 1000),
    'chi': np.random.chisquare(4, 1000)
})
df.head()
pd.qcut(df['chi'], 9, labels=False)

0      6
1      1
2      4
3      7
4      6
5      1
6      3
7      6
8      4
9      6
10     0
11     3
12     8
13     2
14     8
15     7
16     8
17     0
18     2
19     1
20     5
21     6
22     6
23     6
24     6
25     1
26     4
27     6
28     7
29     7
      ..
970    7
971    4
972    8
973    1
974    0
975    0
976    2
977    8
978    0
979    2
980    3
981    2
982    2
983    3
984    5
985    2
986    1
987    1
988    4
989    1
990    1
991    4
992    0
993    1
994    1
995    8
996    6
997    4
998    5
999    8
Name: chi, Length: 1000, dtype: int64